#main
  %section#section1.short
    %hgroup
      %h1#headline Fall in love with freelancing all over again
      %h2#tagline Sign up today and grow your business

  %section#pricing
    %table#sign-up-table
      %thead
        %tr
          %td.opaque
          %td Free Plan
          %td Standard
          %td Pro
      %tr
        %td.opaque Projects
        %td 2
        %td 10
        %td 100

      %tr
        %td.opaque Uploads
        %td 1GB
        %td 5GB
        %td 10GB

      %tr
        %td.opaque Invoices per month
        %td 2
        %td 24
        %td Unlimited

      %tr
        %td Price
        %td Free
        %td $12 per month
        %td $24 per month

      %tr
        %td.opaque
        %td
          %a.button.orange{:href => ''} Sign Up
        %td
          %a.button.orange{:href => ''} Sign Up
        %td
          %a.button.orange{:href => ''} Sign up
      
    = render 'shared/pages/faq'	

    %section#section3

      .left-section
        %h2 Build a better business
        %p Freelancing can be hard. Funnel makes running your business easier.
        %a Find out more

      .right-section
        %h2 Beautiful client interface
        %p Give you clients a central dashboard where they can monitor their project in real time.
        %a Sign up

   