%section#faq
  %h2 Frequently Asked Questions
  .span-4
    %h4 Can I change my mind?
    %p Yes. If you want to change your mind you can cancel your subscription anytime. We don't think you will though because Funnel is awesome. 
  .span-4 
    %h4 How do I upgrade?
    %p You can upgrade your plan any time from your account panel if you need extra storage, projects or invoices.
  .span-4
    %h4 Who is it for?
    %p Funnel is aimed at freelancers (people who run a business on their own) but can be used by anyone wanting an easy way to organise their business. 