#header
  %h1#logo 
    %a{:href => "/"} 
      Funnel
      
  %ul
    %li#plans-link 
      %a{:href => '/pricing'} See plans &amp; pricing
    %li#have-account Have an account?
    %li#sign-in
      %a{:href => '/users/login'} Sign in