#main
  %section#section1
    %hgroup
      %h1#headline Fall in love with freelancing all over again
      %h2#tagline Funnel makes working solo more rewarding than ever before
    %a#sign-up-link{:href => "/users/new"} 
      Sign up
      %span 
        for free
  %section#section2

    = render 'shared/pages/upsell'

    %h2#quote "Funnel is a wonderful tool for busy freelancers"

  %section#section3
    .left-section
      %h2 Build a better business
      %p Freelancing can be hard. Funnel makes running your business easier.
      %a Find out more
    .right-section
      %h2 Beautiful client interface
      %p Give your clients a central dashboard where they can monitor their project in real time.
      %a Sign up