#upsell
  .span-4
    .promo
      = image_tag "static/1.jpg"
    %h3 Impress your clients
    %p Collect all your project conversations in one place, send beautiful invoices, share documents and more. Storing important client information securely in one place means you'll never lose those important details again.
  .span-4
    .promo
      = image_tag "static/2.jpg"
    %h3 Organize your finances
    %p Send invoices, collect payments online and monitor your income more efficiently. Funnel has an array of tools to make your business financials more rewarding.
  .span-4.last
    .promo
      = image_tag "static/3.jpg"
    %h3 Manage your documents
    %p Ever lost an important client document and felt stressed out? We have. That's why we let you store your important client docs like contracts, proposals and designs securely in the cloud.